.Home{
    background-size: 100%;
    height: 100vh;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 50px;
}
.Home h1{
    font-size: 80px;
}
.Home p{
    font-size: 40px;
    font-weight: 400;
    color: rgb(72, 72, 72);
    margin: 20px 0;
}
.Home button{
    padding: 15px 25px;
    font-size: 30px;
    background-color: rgb(12, 6, 6);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 576px) {
    .Home{
        padding-left: 10px;
    }
    .Home h1 {
        font-size: 60px;
    }
    .Home p {
        font-size: 30px;
        font-weight: 700;
    }
    .Home button{
        font-size: 22px;
    }
}
@media screen and (max-width: 300px) {
    .Home {
        padding-left: 10px;
    }
    .Home h1 {
        font-size: 30px;
    }
    .Home p {
        font-size: 20px;
    }
    .Home button {
        font-size: 16px;
    }
}
